.theheadabout {
    height: 100px;
    background-color: beige;
    color: #fff;
    
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border-radius: 200px;
    background-color: rgb(194, 108, 252, 0.4);
   
    
   
    
}
.btnhome {
    border-radius: 40px;
}
.persinfo {
    font-weight: 600;
    font-size: 21px;
    text-shadow: black 3px 2px;
}

header {
    display: flex;
    margin-left: 10px;
    padding-bottom: 5px;
    align-content: center;
    justify-content: center;
    
}

header img {
    width: 100px;
    
}
header img:hover {
    transition: 1s;
    object-position: 20%;
}

body {
    background-image: url(videos/pictures/future-tech-city-wallpaper.jpg);
}
.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: center;
    height: 500px;
    
}

footer {
    display: flex;
    justify-content: end;
    align-items: end;
}

.imgwithinfo {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: rgb(194, 108, 252, 0.4);
    border-radius: 100px;
    height: 500px;
    width: 600px;
   
    
    
}
.imgwithinfo img 
{
    display: flex;
    align-self: center;
    padding-top: 0px;
    border-radius: 120px;
    height: 200px;
    width: 200px;
}

.imgwithinfo p {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
.personalinfo {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 108, 252, 0.4);
    color: #fff;
    height: 520px;
    width: 580px;
    border-radius: 100px;
    margin-left: 15px;
}
.personalinfo p:nth-of-type(1){
    font-size: 60px;
    height: 5px;
    
}
.personalinfo div {
    border-radius: 30px;
    width: 500px;
    height: 340px;
    border-style: solid;
    border-color: #fff;
}

.theinfo {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;
    
}
.textheads {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: #fff;
    font-weight: 600;
    text-shadow: black 3px 2px;
}
.textheads:nth-of-type(4) {
    text-decoration: underline;
}

.mineinfo {
    color: #fff;
    text-shadow: black 3px 2px;
    font-weight: 600;
    font-size: 25px
}


.sectionforanimation {
    
    width: 600px;
    height: 400px;
}
.sectionforanimation img:hover {
    transform:  rotate(360deg);
    transition: 3s;
}

.divskills {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100px;
    width: 100px;
}




.containernr2 {
   display: flex;
   flex-direction: row;
    width: 1850px;
    height: 1050px;
    /* background-color: #fff; */
    
}




.eduTitle {
    color: #fff;
    text-shadow: black 3px 2px;
    font-weight: 600;
    font-size: 22px;
    margin-left: 150px;
}

ul {
    color: #fff;
    font-size:  20px;
    text-shadow: black 3px 2px;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 400px;
    height: 100px;
}
.headproject{
    font-size: 38px;
    padding-bottom: 0%;
    color: #fff;
    text-shadow: black 3px 2px;
    
}
.projecttext {
    
    height: 100px;
    width: 1000px;
}

.edudiv {
    width: 550px;
    height: 480px;
    background-color: rgb(194, 108, 252, 0.4);
    border-radius: 80px;
    padding-left: 0px;
    margin-left: 10px;
}

.gethome {
    margin-left: 1150px;
}

.theprojectdiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    width: 1500px;
    height: 1400;
    padding-left: 10px;
    background-color: rgb(194, 108, 252, 0.4);
    border-radius: 100px;
}

.theyellowcarrot {
    display: flex;
    flex-direction: row;
}
.projectname {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-shadow: black 3px 2px;
    font-size: 32px;
    padding-top: 0%;
    margin-left: 0px;
    
}
.vid1 {
    border-style: solid;
    height: 300px;
    width: 600px;
    margin-left: 80px;
    border-radius: 20px;
}
.vid1:hover {
    transition: 1s;
    width: 1000px;
    height: 500px;
    
}
.hmm {
    
    padding-left: 100px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-shadow: black 3px 1px;
}

.projecttext2 {
    display: flex;
    flex-direction: row;
}



