.headtext {
    display: flex;
    align-items: center;
    
    margin-left: 50px;
    color: #fff;
    text-shadow: black 10px 5px;
    
    
    
    
    
}
.headtext:hover {
    transition: 0.5s;
    -webkit-text-stroke: 4px #fff;
    
    color: transparent;
    
}




.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 300px;
    background-position: 0%;
    
    flex-direction: column;
    
   
    
    
    
}
.flex-container img {
    display: flex;
    height: 100px;
    
}
.flex-container nav {
    display: flex;
    
    
}
.flex-container div:nth-of-type(2) {
    display: flex;
    
    width: 600px;
    
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-right: 90px;
}
.flex-container div:nth-of-type(1) {
    display: flex;
    
    height: 80px;
}
  /* home */
.btn1
{
    display: flex;
    height: 40px;
    width: 40px;
    margin-left: 6px;
    border-radius: 40px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/25/25694.png);
    background-size: cover;
    

}



 /* about */
.btn2
{
    display: flex;
    height: 40px;
    width: 40px;
    margin-left: 6px;
    border-radius: 40px;
    background-image: url(https://icon-library.com/images/about-icon/about-icon-23.jpg);
    background-size: cover;

}
 /* linked in */
.btn3
{
    display: flex;
    height: 40px;
    width: 43px;
    margin-left: 16px;
    border-radius: 40px;
    background-image: url(https://www.iconpacks.net/icons/5/free-linkedin-logo-black-circle-icon-15920-thumb.png);
    background-size: cover;

}
 /* Github */
.btn4
{
    display: flex;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-left: 8px;
    background-image: url(https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-png-transparent.png);
    background-size: cover;
}
.btn1:hover {
    background-color: red;
}
.btn2:hover {
    background-color: red;
}
.btn3:hover {
    background-color: red;
}
.btn4:hover {
    background-color: red;
}



p {
    display: flex;
    
    font-size: 160px;
    font-weight: 600;
    font-style: italic;
    align-self: center;
    
    
}



.container {
    display: flex;
    height: 250px;
    background-color: transparent;
    justify-content: center;
    align-items: start;
    padding: 0%;
    
}

.container img {
    display: flex;
    border-radius: 400px;
    width: 180px;
    margin-left: 35px;

}
.container h1 {
    padding: 10px;
}

body {
    margin: 0;
    background-color: black;
    
}

.videotest {
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    
}
.navdivlist {
    display: flex;
    
   
}
.info {
    display: flex;
    
    font-size: 50px;
    color: #fff;
    padding: 0px;
    word-wrap: normal;
    text-shadow: black 4px 2px;
}
.infodiv {
    display: flex;
    align-items:center;
    justify-content:start;
    flex-direction: column;
    width: 400px;
    height: 100px;
    text-shadow: black 4px 2px;

}
.infoname {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 50px;
     height: 40px;
    width: 800px;
    color: #fff;
    margin-top: 10px;
    text-shadow: black 4px 2px;
    text-decoration: underline;
    transition: 2s;
    
}
.infoname:hover {
    font-size: 80px;
}

.moreinfo {
    display: flex;
    font-size: 30px;
    color: #fff;
    width: 1800px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    transition: 2s;
}

.moreinfo:hover
{
    width: 1800;
    font-size: 40px;
    
}

.getnav {
    width: 800px;
}
.getnav a {
    display: flex;
    width: 60px;
    
    padding-left: 1px;
    text-decoration: none;
    
    color: #fff;
    text-shadow: 2px 1px black;
    font-size: large;
    
    
    
}


a {
    display: flex;
    flex-direction: column;
    
}


